<link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/Content/styles.css" rel="stylesheet" type="text/css">

<h1>Band Tracker</h1>
<hr />
<h2>Bands:</h2>
@if (Model.Count != 0)
{
  <ul>
    @foreach (var band in Model)
    {
      <li>
        <form action="/delete_bands/@band.GetId()" method="post">
          <a href="/bands/@band.GetId()">@band.GetName()</a>
          | <a href = "/edit_bands/@band.GetId()"><button type="button" class=" btn btn-success">Edit</button></a>
          | <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class=" btn btn-success">Delete</button>
        </form>
      </li>
    }
  </ul>
}
<h4><a href="/bands/new">Add new band</a></h4>
<h4><a href="/">Return home</a></h4>
