<link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/Content/styles.css" rel="stylesheet" type="text/css">

<h1>Add a new band</h1>
<form action="/bands/new" method="post">
  <label for="band-name">Band name:</label>
  <input id="band-name" name="band-name" type="text">
  <label for="band-popularity">Band popularity:</label>
  <input id="band-popularity" name="band-popularity" type="text">
  <button type="submit"  class=" btn btn-success">Add new band</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/bands">View all bands</a></p>
