<link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/Content/styles.css" rel="stylesheet" type="text/css">

<h1>Your band is not popular enough to play in this glorious venue!!!!</h1>
<a href="/">GO HOME</a>
